Repository agni-bioinformatics-lab/OilMetagenomesDB, changes with the labels that .github/labeler.yml gives for each.
All labels: libraries, samples

.github/labeler.yml:

libraries:
  - common_libraries/common_libraries.tsv
samples:
  - common_samples/common_samples.tsv

Update common_libraries.tsv
  common_libraries/common_libraries.tsv
Labels: libraries

Update common_samples.tsv
  common_samples/common_samples.tsv
Labels: samples

Update common_samples.tsv
  common_samples/common_samples.tsv
Labels: samples

Update common_libraries.tsv
  common_libraries/common_libraries.tsv
Labels: libraries

instructional pictures
  assets/image/instructions/SierraGarcia2020.png
  assets/image/instructions/add_libraries.png
  assets/image/instructions/create_PR.png
  assets/image/instructions/examples.png
  assets/image/instructions/git1.png
  assets/image/instructions/google.png
  assets/image/instructions/google2.png
  assets/image/instructions/metadata.png
  assets/image/instructions/new_branch.png
  assets/image/instructions/open_PR.png
  assets/image/instructions/spreadsheet_saving.png
Labels: none

instructions for adding data
  assets/documentation/instructions/README.md
Labels: none

image replacement
  assets/image/instructions/open_PR.png
Labels: none

fixing definitions in common_samples
  assets/documentation/samples/README.md
Labels: none

Update map.py, README
  README.md
  assets/image/git_img_link_map.png
  index.html
  scripts/map.py
Labels: none

Update map.py, README
  README.md
  assets/image/git_img_link_map.png
  index.html
  scripts/map.py
Labels: none

Update common_samples.tsv
  common_samples/common_samples.tsv
Labels: samples

Update common_samples.tsv
  common_samples/common_samples.tsv
Labels: samples

Update common_samples.tsv
  common_samples/common_samples.tsv
Labels: samples

Update data_validation.yml
  .github/workflows/map_update.yml
Labels: none

Update common_samples.tsv
  common_samples/common_samples.tsv
Labels: samples

Update common_samples.tsv
  common_samples/common_samples.tsv
Labels: samples

Update map visualization
  assets/image/git_img_map.png
Labels: none

Update map_update.yml
  .github/workflows/map_update.yml
Labels: none

Update common_samples.tsv
  common_samples/common_samples.tsv
Labels: samples

Update common_samples.tsv
  common_samples/common_samples.tsv
Labels: samples

Update map.py
  scripts/map.py
Labels: none

Update common_samples.tsv (rm Proverka)
  common_samples/common_samples.tsv
Labels: samples

Update map visualization
  assets/image/git_img_map.png
Labels: none

Update common_samples.tsv
  common_samples/common_samples.tsv
Labels: samples

Update map visualization
  assets/image/git_img_map.png
Labels: none

Add local dev environment and full-table validation runner
  .gitignore
  requirements.txt
  scripts/validate_local.py
Labels: none

Remove duplicate test row Proverka2020/C25_A from common_samples.tsv
  common_samples/common_samples.tsv
Labels: samples
